<div class="jumbotron jumbotron-fluid">
  <div class="container homepage">
    <div class="homepage-header">
      <img src="assets/ibss/images/logo-ibss.png" [attr.alt]="'affiliation.name' | translate" class="homepage-img" />
      <h2 class="mb-1">{{ 'news-page.ibss.header' | translate }}</h2>
      <h2>{{ 'home-news.affiliation.name' | translate }}</h2>
    </div>
    <div class="homepage-body">
      <p> {{ 'news-page.ibss.text' | translate}}</p>
      <div class="license">
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
          <img src="assets/ibss/images/license.png" alt="
          All of the materials are CC BY-NC-SA 4.0 licensed">
        </a>
        <p>{{ 'news-page.ibss.license' | translate}}</p>
      </div>
    </div>
    <div class="homepage-footer">
      <span class="browse-text">{{'browse.text' | translate}}:</span>
        <a class="browse-link" routerLink="/browse/dateissued">{{'browse.comcol.by.dateissued' | translate}}</a>
        <a class="browse-link" routerLink="/browse/author">{{ 'browse.comcol.by.author' | translate}}</a>
        <a class="browse-link" routerLink="/browse/subject">{{ 'browse.comcol.by.subject' | translate}}</a>
    </div>
  </div>
</div>
