<form class="w-100" [formGroup]="formData" (ngSubmit)="submitForm(formData.value)">
  <div class="row">
    <div class="col-12 d-none d-sm-inline-block">
      <ul class="list-inline  mb-0">
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, '0-9')" ng-reflect-router-link="" href="/browse/author/0-9">0-9</a>
        </li>
        <li  class="list-inline-item ng-star-inserted">
          <a (click)="setStartsOption($event, 'A')" [routerLink]=""  ng-reflect-router-link="" href="/browse/author?startsWith=A">A</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'B')" ng-reflect-router-link="" href="/browse/author?startsWith=B">B</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'C')" ng-reflect-router-link="" href="/browse/author">C</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'D')" ng-reflect-router-link="" href="/browse/author">D</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'E')" ng-reflect-router-link="" href="/browse/author">E</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'F')" ng-reflect-router-link="" href="/browse/author">F</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'G')" ng-reflect-router-link="" href="/browse/author">G</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'H')" ng-reflect-router-link="" href="/browse/author">H</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'I')" ng-reflect-router-link="" href="/browse/author">I</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'J')" ng-reflect-router-link="" href="/browse/author">J</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'K')" ng-reflect-router-link="" href="/browse/author">K</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'L')" ng-reflect-router-link="" href="/browse/author">L</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'M')" ng-reflect-router-link="" href="/browse/author">M</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'N')" ng-reflect-router-link="" href="/browse/author">N</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'O')" ng-reflect-router-link="" href="/browse/author">O</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'P')" ng-reflect-router-link="" href="/browse/author">P</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Q')" ng-reflect-router-link="" href="/browse/author">Q</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'R')" ng-reflect-router-link="" href="/browse/author">R</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'S')" ng-reflect-router-link="" href="/browse/author">S</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'T')" ng-reflect-router-link="" href="/browse/author">T</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'U')" ng-reflect-router-link="" href="/browse/author">U</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'V')" ng-reflect-router-link="" href="/browse/author">V</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'W')" ng-reflect-router-link="" href="/browse/author">W</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'X')" ng-reflect-router-link="" href="/browse/author">X</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Y')" ng-reflect-router-link="" href="/browse/author">Y</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Z')" ng-reflect-router-link="" href="/browse/author">Z</a>
        </li> 
        <!--bindings={"ng-reflect-ng-for-of": "0-9,A,B,C,D,E,F,G,H,I,J,K,L,M,"}-->
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-none d-sm-inline-block">
      <ul class="list-inline">
        <li class="list-inline-item ng-star-inserted">
        <a [routerLink]="" (click)="setStartsOption($event, 'А')" ng-reflect-router-link="" href="/browse/author">А</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Б')" ng-reflect-router-link="" href="/browse/author">Б</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'В')" ng-reflect-router-link="" href="/browse/author">В</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Г')" ng-reflect-router-link="" href="/browse/author">Г</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Д')" ng-reflect-router-link="" href="/browse/author">Д</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Е')" ng-reflect-router-link="" href="/browse/author">Е</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Ё')" ng-reflect-router-link="" href="/browse/author">Ё</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Ж')" ng-reflect-router-link="" href="/browse/author">Ж</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'З')" ng-reflect-router-link="" href="/browse/author">З</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'И')" ng-reflect-router-link="" href="/browse/author">И</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'К')" ng-reflect-router-link="" href="/browse/author">К</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Л')" ng-reflect-router-link="" href="/browse/author">Л</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'М')" ng-reflect-router-link="" href="/browse/author">М</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Н')" ng-reflect-router-link="" href="/browse/author">Н</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'О')" ng-reflect-router-link="" href="/browse/author">О</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'П')" ng-reflect-router-link="" href="/browse/author">П</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Р')" ng-reflect-router-link="" href="/browse/author">Р</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'С')" ng-reflect-router-link="" href="/browse/author">С</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Т')" ng-reflect-router-link="" href="/browse/author">Т</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'У')" ng-reflect-router-link="" href="/browse/author">У</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Ф')" ng-reflect-router-link="" href="/browse/author">Ф</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Х')" ng-reflect-router-link="" href="/browse/author">Х</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Ц')" ng-reflect-router-link="" href="/browse/author">Ц</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Ч')" ng-reflect-router-link="" href="/browse/author">Ч</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Ш')" ng-reflect-router-link="" href="/browse/author">Ш</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Щ')" ng-reflect-router-link="" href="/browse/author">Щ</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Э')" ng-reflect-router-link="" href="/browse/author">Э</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Ю')" ng-reflect-router-link="" href="/browse/author">Ю</a>
        </li>
        <li class="list-inline-item ng-star-inserted">
          <a [routerLink]="" (click)="setStartsOption($event, 'Я')" ng-reflect-router-link="" href="/browse/author">Я</a>
        </li> 
        <!--bindings={"ng-reflect-ng-for-of": "0-9,A,B,C,D,E,F,G,H,I,J,K,L,M,"} -->
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="form-group input-group col-8 col-sm-12 col-md-6">
      <input class="form-control" [attr.aria-label]="'browse.startsWith.input' | translate"
        placeholder="{{'browse.startsWith.type_text' | translate}}" type="text" name="startsWith"
        formControlName="startsWith" [value]="getStartsWith()" />
      <span class="input-group-append">
        <button class="btn btn-primary" type="submit"><i class="fas fa-book-open"></i> {{'browse.startsWith.submit' |
          translate}}</button>
      </span>
    </div>
  </div>
</form>